@page{
    size: A4 Potrait;
    margin: 0;
    padding: 0;
}
@media screen,print{
    *{
        margin:0;
        padding: 0;
    }
    /* TULISAN FONT STYLE */
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        font-style: normal;
        text-align: justify;
    }
    /* TULISAN FONT STYLE END */
    /* header */
    header{
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
    }
    /* header end */
    /* container-info */
    div.container-info{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info, th.th_info,td.td_info,td.td_info1,td.td_info2{
        /* border:1px solid black;
        border-collapse: collapse; */
    }
    table.nav-info{
        width: 100%;
    }
    th.th_info{
        width:0;
    }
    td.td_info{
        width: 20%;
    }
    td.td_info1{
        width: 40%;
    }
    td.td_info2{
        width: 100%;
    }
    p.p_info{
        text-align: justify;
    }
    /* container-info end */
    /* container-info_project */
    div.container-info_project{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_project, th.th_info_project,td.td_info_project{
        border:1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
    table.nav-info_project{
        width: 100%;
    }
    td.td_info_project1{
        border-left:hidden;
    }
    td.td_info_project2{
        border-bottom: hidden;
        border-left: hidden;
    }
    p.p_info_project1{
        text-align: right;
        padding-right: 5px;
    }
    p.p_info_project2{
        text-align: right;
        padding-right: 5px;
    }
    p.p_info_project_th{
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }
    p.p_info_project_biaya{
        text-align: center;
    }
    p.p_info_project_name{
        text-align: justify;
    }
    /* container-info_project end */
    /* conteiner-info-term  */
    div.container-info_term{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        
    }
    table.nav-info_term,td.td_info_term,td.td_info_term_biaya{
        padding: 5px;
    }
    table.nav-info_term{
        width: 100%;
    }
    td.td_info_term{
        width: 70%;
    }
    p.p_info_term{
        text-align: right;
    }
    p.p_info_term_center{
        text-align: center;
    }
    /* conteiner-info-term end */
    /* Container_keterangan */
    div.container-keterangan{
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_keterangan, th.th_info_keterangan,td.td_info_keterangan{
        /* border:1px solid black;
        border-collapse: collapse; */
        width: 100%;
        padding: 5px;
    }
    p.p_info_keterangan{
        text-align: justify;
    }
    /* Container_keterangan end */
    /* Container_ttd */
    div.container-ttd{
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_ttd, th.th_info_ttd,td.td_info_ttd{
        /* border:1px solid black;
        border-collapse: collapse; */
        width: 100%;
        padding: 5px;
    }
    p.p_info_ttd{
        text-align: right;
    }
    p.p_info_ttd_seo{
        text-align: right;
        padding-top:10%;
    }
    /* Container_ttd end */
    /* footer */
    footer{
        position: fixed;
        left: 0;
        bottom: -5px;
    }
    /* footer end */
}