@page{
    size: A4 Potrait;
    margin: 0;
    padding: 0;
}
@media screen,print{
    *{
        margin:0;
        padding: 0;
    }
    /* TULISAN FONT STYLE */
    p{
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        font-style: normal;
        text-align: justify;
    }
    /* TULISAN FONT STYLE END */
    /* header */
    header{
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
    }
    /* header end */
    /* container-info */
    div.container-info{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info, th.th_info,td.td_info,td.td_info1,td.td_info2{
        /* border:1px solid black;
        border-collapse: collapse; */
        width: 100%;
    }
    td.td_info1{
        width: 100%;
    }
    td.td_info{
        width: 80%;
    }
    /* container-info end */
    /* container-info_project */
    div.container-info_project{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_project,th.th_info_project_nama,th.th_info_project_biaya,th.th_info_project_number,td.td_info_project1,td.td_info_project2,td.td_info_project_item1,td.td_info_project_item2,td.td_info_project_item3{
        border:1px solid black;
        border-collapse: collapse;
        width: 100%;
    }
    p.p_info_project_th{
        text-align: center;
    }
    td.td_info_project_item1,th.th_info_project_number{
        width: 20%;
    }
    p.p_info_project_number{
        font-weight: bold;
        text-align: center;
    }
    td.td_info_project_item2,th.th_info_project_nama{
        width: 100%;
    }
    p.p_info_project_name,p.p_info_project_biaya{
        padding: 5px;
    }
    td.td_info_project_item3,th.th_info_project_biaya,td.td_info_project1,td.td_info_project2,td.td_info_project_ppn,td.td_info_projecttlBiaya{
        width: 50%;
    }
    p.p_info_project1,p.p_info_project2{
        text-align: right;
        padding-right:5px;
    }
    td.td_info_project_ppn,td.td_info_project_ttlBiaya{
        border-left: hidden;
        border-bottom: hidden;
    }

    
    /* container-info_project end */
    /* Container_keterangan */
    div.container-keterangan{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_keterangan, th.th_info_keterangan,td.td_info_keterangan{
        /* border:1px solid black;
        border-collapse: collapse; */
        width: 100%;
        padding: 5px;
    }
    p.p_info_keterangan{
        text-align: justify;
    }
    p.p_info_keterangan1{
        text-align: justify;
        line-height: 25px;
    }
    /* Container_keterangan end */
    /* Container_ttd */
    div.container-ttd{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
    table.nav-info_ttd, th.th_info_ttd,td.td_info_ttd{
        /* border:1px solid black;
        border-collapse: collapse; */
        width: 100%;
        padding: 5px;
    }
    p.p_info_ttd{
        text-align: right;
    }
    p.p_info_ttd_seo{
        text-align: right;
        padding-top:20%;
    }
    /* Container_ttd end */
    /* footer */
    footer{
        position: fixed;
        left: 0;
        bottom: -5px;
    }
    /* footer end */
}