@page {
    size: A4 potrait;
    margin: 0;
    padding: 0;
    
}
@media screen, print {
    *{
        margin:0;
        padding: 0;
    }
    /* header */
    header{
        position: fixed;
        top: 0;
        left: auto;
        right: auto;
    }
    /* header end */
    /* nav  */
    table.tabNav{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 10%;
        width:80%;
    }
    th.thOne,th.thTwo{
        padding-bottom: 12px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
    }
    th.thOne{
        width: 20%;
    }
    span.spanOne{
        font-size: 16px;
        font-weight: normal;
    }
    
    /* nav end */
    /* contents */
    table.contents{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    span.span_Contents{
        font-weight: normal;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
    }
    th.thOneContents{
        text-align: justify ;
    }

    th.thTwoContents{
        padding-bottom: 2%;
        letter-spacing: 0.8px;
        word-spacing: 1.5px;
        line-height: 20px;
        text-align: justify ;
    }
    table.tbl_waktu,th#tbl_waktuOne,th#tbl_waktuOne1{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    th#tbl_waktuOne{
        text-align: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding: 5px;
    }
    th#tbl_waktuOne1{
        text-align: justify;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding: 5px;
    }
    table.contents2,th.thOnContents2{
        margin-top: 0.5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    th.thOnContents2{
        text-align: justify;
        font-weight: normal;
        line-height: 20px;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0.8px;
        word-spacing: 1.5px;
        padding: 5px;
    }
    /* contents end */
    /* TTD */
    table.tbl_ttd_internship,th.th_ttd_internship,th.th_ttd_internship1{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }

    th.th_ttd_internship{
        text-align: right;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
    }
    th.th_ttd_internship1{
        text-align: right;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding-left: 5px;
        padding-right: 5px;
        padding-top:100px;
    }
    /* TTD END */
    /* TABLE KARYAWAN */
    table.tbl_karyawan,th.th_karyawan{
        margin-top: 25%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    th.th_karyawan,span.span_karyawan{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 20px;
    }
    
    /* WAKTU KARYAWAN */
    table.tbl_waktu_karyawan,th.th_waktu_karyawan,th.th_waktu_karyawan1{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    th.th_waktu_karyawan1{
        width: 30%;
    }
    p.span_waktu_karyawan1{
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
    }
    p.span_waktu_karyawan{
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
    }
    p.span_waktu_karyawan_p{
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        padding-left: 8px;
    }
    /* WAKTU KARYAWAN END */
    /* TABLE PENUTUP */
    table.tbl_penutup,th.th_penutup,th.th_penutup2{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    p.p_penutup{
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
    }
    th.th_penutup{
        padding: 5px;
    }
    th.th_penutup2{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
    }
    /* TABLE PENUTUP END */
    /* TABLE KARYAWAN END */
    /* TABLE TTD KARYAWAN  */
    table.tbl_ttd_karyawan,th.th_ttd_karyawan,th.th_ttd_karyawan2{
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    p.span_ttd_karyawan{
        font-family: 'Times New Roman', Times, serif;
        font-weight: normal;
        text-align: right;
    }
    th.th_ttd_karyawan{
        
        padding: 5px;
    }
    th.th_ttd_karyawan2{
        text-align: right;
        padding-top: 100px;
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 5px;
    }
    /* TABLE TTD KARYAWAN END */
    footer{
        position: fixed;
        left: 0;
        bottom: -5px;
    }
}
